<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120247352484-e9im42igmviq089i0s51p4pkkak2bjnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120247352484-e9im42igmviq089i0s51p4pkkak2bjnn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>120247352484-2fn6l8d9cd6p515fses2uqsmomm5iekq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAl9OfcgjrjUDDLtKRlolYOv-TsvVnKA4</string>
	<key>GCM_SENDER_ID</key>
	<string>120247352484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.empiregarageMobile</string>
	<key>PROJECT_ID</key>
	<string>empirefirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>empirefirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120247352484:ios:ddbd0496324bbdd080fa31</string>
	<key>DATABASE_URL</key>
	<string>https://empirefirebase-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>